Repository comworkio/shmwrapper: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-test, arm32, x86

build-and-test:
  stage: build_and_test
  script:
  - make all
  tags:
  - shmwrapper

arm32:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "arm" "shmwrapper" "1.0"
  tags:
  - buildarm

x86:
  stage: deliver
  script:
  - setsid ./ci/docker-deliver.sh "x86" "shmwrapper" "1.0"
  tags:
  - shmwrapper

Fix: ci/cd
  .gitlab-ci.yml
  ci/docker-deliver.sh
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
Due: build-and-test, arm32, x86

Add test for Apple Silicon M1
  README.md
  ci/docker-deliver.sh
  docker-compose-test-m1.yml
  docker/build/Dockerfile
  docker/build/Dockerfile.arm
Due: build-and-test, arm32, x86

Add M1 test output
  README.md
  docker-compose-test-m1.yml
  images/m1-test.png
Due: none

Rename stages
  README.md
  docker-compose-build-arm.yml
  docker-compose-build-x86.yml
  docker/build/Dockerfile
  docker/build/Dockerfile.arm
  images/x86-centos-test.png
Due: build-and-test, arm32, x86

Add manifest management
  ci/docker-deliver.sh
Due: arm32, x86

Add test ARM
  ci/docker-deliver.sh
  docker-compose-test-arm.yml
Due: arm32, x86

Fix: arm test
  docker-compose-test-arm.yml
Due: none

Add test on ARM
  README.md
  images/raspberrypi-test.png
Due: none

Add Youtube link
  README.md
Due: none

Remove useless file
  docker-compose-test-arm.yml
Due: none

Add aarch64 test
  docker-compose-test-aarch64.yml
  docker/build/Dockerfile.aarch64
Due: none

Add bitbucket mirror
  README.md
  ci/mirror.sh
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build-and-test, arm32, x86

Change mirrors
  README.md
  REAML
Due: none

Path conditions:
  build-and-test: any of: .gitlab-ci.yml, shmwrapper.c, utils.c, utils.h, Makefile, docker-compose-test.yml, docker/build/Dockerfile
  arm32: any of: .gitlab-ci.yml, shmwrapper.c, utils.c, utils.h, Makefile, docker-compose-build.yml, ci/docker-deliver.sh, docker/build/Dockerfile
  x86: any of: .gitlab-ci.yml, shmwrapper.c, utils.c, utils.h, Makefile, docker-compose-build.yml, ci/docker-deliver.sh, docker/build/Dockerfile.arm
